body {
    background-color: #292929 !important;
    direction: ltr !important;
}
.login-form {
    width: 500px;
    margin-top: 200px;
    margin-left: 900px;
    padding: 50px;
    background-color: #4E4E50;
}
.login-form form {
    color: black;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 50px;
}

.login-form label {
    font-weight: normal;
    font-size: 30px;
}

.login-form .form-control {
    min-height: 50px;
    box-shadow: none;
}

.login-form .text-center {
    font-size: 20px;
}

.login-form .title {
    text-align: center;
}

.login-key {
    margin: auto;
}


.form-group {
    display: flex;
}