body {
    background-color: #292929 !important;
}

.container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    margin-bottom: 10em;
    align-items: center;
}

.movie-desc {
    display: flex;
    background-color: #4E4E50;
    border-radius: 2em;
    width: 100%;
    height: 12em;
    margin-top: 5em;
    box-shadow: 0.5em 0.5em;
}

.movie-desc-img-container {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    border-radius: 2em;
    height: 10em;
    width: 100%;
    color: white;
    text-align: center;
    gap: 4em;
}

.movie-desc-img-container img {
display: block;
border-radius: 2em 0 0 2em;
width: 13em;
height: 12em;
}

.movie-rec {
display: flex;
flex-direction: column;
background-color: #4E4E50;
border-radius: 2em;
width: 80em;
height: 25em;
box-shadow: 0.5em 0.5em;
align-items: center;
justify-content: space-around;
margin-top: 8em;
}

.new-col {
display: flex;
flex-direction: column;
}


.movie-rec-img-container {
display: flex;
position: relative;
align-items: center;
justify-content: center;
border-radius: 2em;
width: 13em;
height: 13em;
color: white;
margin-top: 3em;
}

.movie-rec-img-container img {
display: block;
border-radius: 2em;
position: relative;
width: inherit;
height: inherit;
justify-content: center;
align-items: center;
}

.text {
color: white;
text-align: center;
}

.overlay {
position: absolute;
border-radius: 2em;
top: 0;
bottom: 0;
left: 0;
right: 0;
opacity: 0;
transition: .5s ease;
background-color: #B1202580;
justify-content: center;
align-items: center;
object-fit: fill;
display: flex;
}

.movie-rec-img-container:hover .overlay {
opacity: 1;
}

.desc {
margin-top: 2em;
}

.images-list {
display: flex;
width: 100%;
justify-content: space-around;
margin-bottom: 2em;
}

.custom-icon-trash {
width: 2em;
height: 2em;
margin-top: 3em;
color: red;
}

.movie-rec-img-container {
display: flex;
position: relative;
align-items: center;
justify-content: center;
border-radius: 2em;
width: 13em;
height: 13em;
color: white;
margin-top: 3em;
}

.movie-rec-img-container img {
display: block;
border-radius: 2em;
position: relative;
width: inherit;
height: inherit;
justify-content: center;
align-items: center;
}